<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Action required</title>
</head>
<body>
    <form method="post" action="{{ path('a3mg_fake_payment_action_required') }}">
        <button type="submit" name="confirm" value="1">Confirm payment</button>
        <button type="submit" name="cancel" value="1">Cancel payment</button>
    </form>
</body>
</html>